@model sb_admin.web.Models.tarea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Tarea del Caso con @Html.DisplayNameFor(model => model.caso.referencia): @Html.DisplayFor(model => model.caso.referencia)</h3>
    </div>
    <div class="panel-body">
        Detalle
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tarea1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tarea1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estadoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estadoId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.prioridadId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prioridadId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.caso.referencia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.caso.referencia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.persona.dni)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.persona.dni)
                </dd>

            </dl>
        </div>
        </div>
    </div>
<p>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil " }) |
    @Html.ActionLink("Regresar a lista", "Index", null, new { @class = "btn btn-success btn-sm fa fa-pencil" })
   
</p>
