@model sb_admin.web.Models.tarea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tarea1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarea1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caso.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caso.referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.persona.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.dni)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
