@model IEnumerable<sb_admin.web.Models.juzgado_evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Juzgado Evento</h2>

<p>
    @Html.ActionLink("Nuevo Juzgado Evento", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.juzgado_evento1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evento.descripcion_evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.juzgado.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.juzgado_evento1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.evento.descripcion_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.juzgado.nombre)
            </td>
            <td>
                @Html.ActionLink(" Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil " }) |
                @Html.ActionLink(" Detalles", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm fa fa-eye " }) |
                @Html.ActionLink(" Borrar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm fa fa-trash-o " })
            </td>
        </tr>
    }

</table>
