@model IEnumerable<sb_admin.web.Models.expediente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Expedientes</h2>

<p>
     @Html.ActionLink("Nuevo Expediente", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechacreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoExpediente.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caso.referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion.ubicacion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claseExpediente.Clase)
        </th>
        <th>
            Persona
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoExpediente.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechacreacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hora)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estadoExpediente.estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.caso.referencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ubicacion.ubicacion1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.claseExpediente.Clase)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.persona.NombreCompleto)
    </td>

    
    <td>
        @Html.ActionLink(" Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil" })
        @Html.ActionLink(" Detalles", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm fa fa-eye" })
        @Html.ActionLink(" Borrar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm fa fa-trash-o" })
    </td>
</tr>
}

</table>
