@model sb_admin.web.Models.telefono

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>telefono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
