@model sb_admin.web.Models.evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expediente.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expediente.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_evento1.tipo_evento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_evento1.tipo_evento1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil " }) |
    @Html.ActionLink("Regresar a lista", "Index")
</p>
