@model IEnumerable<sb_admin.web.Models.evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos</h2>

<p>
     @Html.ActionLink("Nuevo Evento", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expediente.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_evento1.tipo_evento1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_evento)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.fecha_inicio)*@
            @item.fecha_inicio.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expediente.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_evento1.tipo_evento1)
        </td>
        <td>
            @Html.ActionLink(" Editar", "Edit", new { id=item.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil " }) |
            @Html.ActionLink(" Detalles", "Details", new { id=item.id }, new { @class = "btn btn-info btn-sm fa fa-eye " }) |
            @Html.ActionLink(" Borrar", "Delete", new { id=item.id }, new { @class = "btn btn-danger btn-sm fa fa-trash-o " })
        </td>
    </tr>
}

</table>
