@model IEnumerable<sb_admin.web.Models.evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expediente.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_evento1.tipo_evento1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_evento)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.fecha_inicio)*@
            @item.fecha_inicio.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expediente.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_evento1.tipo_evento1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
