@model IEnumerable<sb_admin.web.Models.caso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
     @Html.ActionLink("Nuevo Caso", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsableId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aperturaPersonaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avance.tipo_avance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsableId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aperturaPersonaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avance.tipo_avance)
        </td>
        <td>
            @Html.ActionLink(" Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm fa fa-pencil " }) | |
            @Html.ActionLink(" Detalles", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm fa fa-eye " }) | |
            @Html.ActionLink(" Borrar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm fa fa-trash-o " }) |
        </td>
    </tr>
}

</table>
